/* Move down content because we have a fixed navbar that is 120px tall */
body {
  padding-top: 120px;
  font-family: 'Dosis', 'sans-serif';
  font-weight: '500';
}

/* header rules */
.navbar {
  min-height: 80px;
}

.navbar.navbar-inverse.navbar-fixed-top {
  background-color: #2966bf;
}

.navbar-nav a {
  font-family: 'Dosis', 'sans-serif';
  font-weight: '800';
  font-size: 1.4em;
  color: #FFF !important;
}

.navbar-nav a:hover {
  opacity: 0.8;
}

.navbar .container {
  padding-top: 10px;
  padding-bottom: 12px;
  position: relative;
}

.navbar-inverse {
  background-color: #f5f5f5;
}

.navbar-brand {
  font-weight: 800;
  color: #FFF !important;
  font-size: 2em;
}

/* homepage content rules */
.caption h4 {
  margin-top: 5px;
}

.caption h4 a {
  font-family: 'Dosis', 'sans-serif';
  font-weight: '700';
  color: #1C2130;
}

.col-xs-12 {
  padding-bottom: 20px;
}

.caption {
  height: 65px;
}

.event-list {
  padding-top: 10px;
  height: auto;
  margin-left: -15px;
  margin-right: -15px;
}

.thumbnail {
  padding: 0px !important;
}

.event-details {
  background: none repeat scroll 0% 0% #e2f2fa;
  border-radius: 0px 0px 4px 4px;
}

.date {
  padding: 7px;
  font-size: 14px;
  font-family: 'Dosis', 'sans-serif';
  font-weight: '500';
  color: #4d4d4d;
  margin-bottom: -8px;
}

.date span {
  color: #cd9b00;
}

.city {
  padding: 7px;
  font-size: 16px;
  font-family: 'Dosis', 'sans-serif';
  font-weight: '500';
  color: #4d4d4d;
}

.city span {
  color:#1C2130;
}

.thumb {
  display: block;
  height: auto;
  max-width: 100%;
  border-radius: 3px 3px 0 0;
}

.thumb:hover {
  opacity: 0.9;
}

/* filter/search bar rules */
.btn-search {
  background-color: #2966bf;
}

.dropdown-toggle:hover {
  background-color: #e2f2fa;
}

.dropdown-toggle:active {
  background-color: #e2f2fa;
}

.search-area span {
  color: #FFF;
}

/* event-detail page rules */
.event-details-bar {
  font-size: 1.4em;
  color: #434343;
  padding-top: 20px;
}

.event-register {
  padding-top: 15px;
}

.event-register-msg {
  margin: 0;
  font-weight: 700;
}

.event-register-deadline {
  margin: 0;
  font-size: 1em;
}

.tab-content {
  padding-top:10px;
}

.tab-content p {
  font-size: 1.2em;
}

.nav-tabs {
  font-size: 1.1em;
  font-weight: 700;
}

.nav-tabs li a:hover {
  background-color: #e2f2fa;
  border-color: #e2f2fa;
}

.tab-content {
  border-left: 1px solid #ddd;
  border-right: 1px solid #ddd;
  border-bottom: 1px solid #ddd;
  border-radius: 0 0 4px 4px;
  padding: 10px;
}

/* footer rules */
footer {
  height: 120px;
  bottom: 0;
  background-color: #2966bf;
  position: relative;
  width: 100%;
  color: #fff
}

footer a {
  color: #fff;
}

footer a:hover{
  text-decoration: none;
  color: #82a8e0;
}

.identification {
  padding-top: 30px;
  text-align: center;
}

.credits {
  padding-top: 0px;
  text-align: center;
}
